<nav id="nav">
	<ul id="navigation">
		<li><a><i class="fa fa-cog fa-2x"></i>
		   <span class="space-right-5px"></span><span class="text-align">Functional Track</span></a>
			<ul>
				<li>
				<a href="/1.FunctionalTrack/MajorRelease/MajorRelease.md" target="_blank">
				<i class="fa fa-angle-down fa-lg"></i><span class="space-right-5px"></span>
				<span class="text-bold">Major Release</span></a>
					<li><a href="/1.FunctionalTrack/MajorRelease/VKM.md" target="_blank">
					<span class="space-right-25px"></span>VKM</a></li>
					<li><a href="/1.FunctionalTrack/MajorRelease/CCI.md" target="_blank">
					<span class="space-right-25px"></span>CCI-MultiOrg</a></li>
					<li><a href="/1.FunctionalTrack/MajorRelease/LPC.md" target="_blank">
					<span class="space-right-25px"></span>LPC</a></li>
				</li>
				<li>
				 <a href="/1.FunctionalTrack/MinorRelease/MinorRelease.md" target="_blank">
				  <i class="fa fa-angle-down fa-lg"></i>
				  <span class="space-right-5px"></span>
				   <span class="text-bold">Minor Release</span></a>
					<li><a href="/1.FunctionalTrack/MinorRelease/CustomerOnBoarding.md" target="_blank">
					<span class="space-right-25px"></span>Customer On Boarding</a></li>
					<li><a href="/1.FunctionalTrack/MinorRelease/Integration.md" target="_blank">
					<span class="space-right-25px"></span>Integration</a></li>
					<li><a href="/1.FunctionalTrack/MinorRelease/Ninja.md" target="_blank">
					<span class="space-right-25px"></span>Ninja</a></li>
					<li><a href="/1.FunctionalTrack/MinorRelease/Security.md" target="_blank">
					<span class="space-right-25px"></span>Security</a></li>
				</li>
			</ul>
			<div class="arrow-down"></div>
		</li>
		<li><a><i class="fa fa-cogs fa-2x"></i><span class="space-right-5px"></span>
		   <span class="text-align">Cross Functional Track</span></a>
			<ul>
				<li><a href="/2.CrossFunctionalTrack/PerformanceEngineering.md" target="_blank">
					Performance Engineering</a></li>
				<li><a href="/2.CrossFunctionalTrack/ServisibilityAndProductivity.md" target="_blank">
					Nimbus Migration</a></li>
			</ul>
			<div class="arrow-down"></div>
		</li>
		<li><a><i class="fa fa-support fa-2x"></i><span class="space-right-5px"></span>
		   <span class="text-align">Support Track</span></a>
			<ul>
				<li><a href="/3.SupportTrack/CustomerSupport.md" target="_blank">Customer Support</a></li>
				<li><a href="/3.SupportTrack/InfrastructureSupport.md" target="_blank">Infrastructure Support</a></li>
			</ul>
			<div class="arrow-down"></div>
		</li>
		<li><a><i class="fa fa-tv fa-2x"></i><span class="space-right-5px"></span>
		   <span class="text-align">Virtual Teams</span></a>
			<ul>
				<li><a href="/4.VirtualTeams/Architecture.md" target="_blank">Architecture</a></li>
				<li><a href="/4.VirtualTeams/BusinessAnalyst.md" target="_blank">Business Analyst</a></li>
				<li><a href="/4.VirtualTeams/DevelopmentOperations.md" target="_blank">Development Operations</a></li>
				<li><a href="/4.VirtualTeams/QualityEngineering.md" target="_blank">Quality Engineering</a></li>
			</ul>
			<div class="arrow-down"></div>
		</li>
	</ul>
</nav>
<div class="clearfix"></div>
<div class="quickLinks">
	<a href="#">Drop Calendar</a>
	<a href="#">Release Info</a>
	<a href="#">Feedback</a>
	<a href="#"></a>
</div>