<div class="breadCrums">
	<div class="left">
		<a href="#">CY6</a> <i class="fa fa-long-arrow-right"></i>
		<a href="#">FEB</a> <i class="fa fa-long-arrow-right"></i>
		<a href="#">WK9</a> <i class="fa fa-long-arrow-right"></i>
		<span>360 Updates</span>
	</div>
	<div class="right">
		<a href="#" class="breadCrumsRightLinks">
			<span class="drop"></span>
				Drop
			<span class="space-right-5px"></span>
			<span class="badge">33</span>
		</a>
		<a href="#" class="breadCrumsRightLinks">
			<span class="sprint"></span>
				Sprint
			<span class="space-right-5px"></span>
			<span class="badge">33</span>
		</a>
	</div>
</div>